# .gitignore

# Terraform (Sensitive State - NEVER COMMIT THESE)
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/"chroma_db_storage/" 
"chroma_db_storage/" 
*.pdf   # Also ignore the downloaded PDFs
