# Terraform (Sensitive State - NEVER COMMIT THESE)
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/

# Local Database
chroma_db_storage/

# Downloaded PDFs
*.pdf