# Terraform (Sensitive State - NEVER COMMIT THESE)
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/

# Local Database
chroma_db_storage/
chroma_db_local/

5_FDA_drug_data/

# JSONL files
rl_feedback_log.jsonl
gold_standard.jsonl
raw_reddit_data.jsonl
ragas_logs.jsonl

evaluation_report.csv