# AI & Graph Logic
langchain
langchain-community
langgraph
langchain-ollama
langchain-huggingface

# Vector Database & PDFs
chromadb
pypdf
sentence-transformers

# Detection Model
# We unpin these so they grab the latest 2026 versions
transformers
torch 
accelerate

# Utilities
python-dotenv
requests
beautifulsoup4
selenium-base